@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-lavender-mist: #dbdaec;
  --color-zircon: #e9edf6;
  /* --color-cupid: #fcbfd4; */
  --color-cupid: #0f102e;
  /* --color-azalea: #ffd0e2; */
  --color-azalea: #f68db3;
  --color-tutu: #fdeef5;
  --color-tututu: #fce3ee;
  --color-tututu2: #fcf2f7;

  --font-sans: "Plus Jakarta Sans", sans-serif;
}

:root {
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
  background-color: #fdeef5;
}

Link {
  cursor: pointer;
}

/* Imagem */

img {
  border-radius: 50%;
}

.profile-pic {
  width: 80px;
}

.mainLayout-profile-pic {
  width: 30px;
}

.tweet-profile-pic {
  width: 40px;
}

/* Botões */

button {
  cursor: pointer;
}

.btn {
  border-width: 1px;
  border-radius: 20px;
  padding: 8px;
}

.btn-primary {
  background-color: var(--color-cupid);
  border-color: var(--color-cupid);
}

.btn-primary:hover {
  background-color: var(--color-azalea);
  border-color: var(--color-azalea);
  transition: 0.2s;
}

.btn-confirm {
  border-color: var(--color-pink-500);
  background-color: var(--color-pink-500);
  color: white;
}

.btn-confirm:hover {
  background-color: var(--color-pink-600);
  border-color: var(--color-pink-600);
  transition: 0.2s;
}

.btn-cancel {
  border-color: var(--color-gray-400);
}

.btn-cancel:hover {
  background-color: var(--color-gray-300);
  transition: 0.2s;
}

/* Curtir */

@keyframes heartLike {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.heart-like {
  animation: heartLike 300ms ease-in-out;
}

/* Modal  */
.modal {
  border: 1px solid var(--color-azalea);
  border-radius: var(--radius-lg);
  background-color: var(--color-tututu2);
  padding: calc(var(--spacing) * 12);
}

/* Foco normal :focus {
  outline: 1px solid pink;
  border-radius: 5px;
} */
