@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-lavender-mist: #dbdaec;
  --color-zircon: #e9edf6;
  /* --color-cupid: #fcbfd4; */
  --color-cupid: #0f102e;
  /* --color-azalea: #ffd0e2; */
  --color-azalea: #f68db3;
  --color-tutu: #fdeef5;
  --color-tututu: #fce3ee;
  --color-tututu2: #fcf2f7;

  --font-sans: "Plus Jakarta Sans", sans-serif;
}

:root {
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
  background-color: #fdeef5;
}

button {
  cursor: pointer;
}

.btn {
  border-width: 1px;
  border-radius: 20px;
  padding: 8px;
}

Link {
  cursor: pointer;
}

@keyframes heartLike {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.heart-like {
  animation: heartLike 300ms ease-in-out;
}

/* Foco normal :focus {
  outline: 1px solid pink;
  border-radius: 5px;
} */
