@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-lavender-mist: #dbdaec;
  --color-zircon: #e9edf6;
  --color-cupid: #fcbfd4;
  --color-azalea: #ffd0e2;
  --color-tutu: #fdeef5;

  --font-sans: "Plus Jakarta Sans", sans-serif;
}

:root {
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
  background-color: #fdeef5;
}

button {
  cursor: pointer;
}

Link {
  cursor: pointer;
}

@keyframes heartLike {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.heart-like {
  animation: heartLike 300ms ease-in-out;
}
